= simple_form_for :user, url: user_charts_path, method: :get do |f|
  = f.input :upload_date, as: :date_time_picker, input_html: { data: { date_format: "YYYY-MM-DD" } }
  = f.button :submit, "Show uploads"